<!-- 푸터  -->
<footer class="footer">
    <div class="text-center py-3">
        <a href="{% url 'privacy' %}" class="highlight" style="text-decoration: none; color: white">개인정보처리방침 | </a>
        <a href="{% url 'service' %}" class="highlight" style="text-decoration: none; color: white">이용약관</a>
    </div>
    <div class="text-center">
        <img src="/static/imgs/foot_logo.png">&nbsp;&nbsp;&nbsp;<img src="/static/imgs/foot_logo2">&nbsp;
        <a href="https://gangwon-fc.com//"><img src="/static/imgs/강원FC/reclogo.png"></a>&nbsp;
        <a href="http://gimcheonfc.com/"><img src="/static/imgs/김천 상무 프로축구단/reclogo.png"></a>&nbsp;
        <a href="https://daegufc.co.kr/main/"><img src="/static/imgs/대구FC/reclogo.png"></a>&nbsp;
        <a href="https://www.seongnamfc.com/"><img src="/static/imgs/성남FC/reclogo.png"></a>&nbsp;
        <a href="https://suwonfc.com/"><img src="/static/imgs/수원FC/reclogo.png"></a>&nbsp;
        <a href="http://www.bluewings.kr/"><img src="/static/imgs/수원삼성/reclogo.png"></a>&nbsp;
        <a href="https://www.uhfc.tv/main.php"><img src="/static/imgs/울산 현대 축구단/reclogo.png"></a>&nbsp;
        <a href="https://www.incheonutd.com/main/index.php"><img src="/static/imgs/인천 유나이티드/reclogo.png"></a>&nbsp;
        <a href="http://www.hyundai-motorsfc.com/"><img src="/static/imgs/전북 현대 모터스/reclogo.png"></a>&nbsp;
        <a href="https://www.jeju-utd.com/"><img src="/static/imgs/제주 유나이티드/reclogo.png"></a>&nbsp;
        <a href="https://www.fcseoul.com/"><img src="/static/imgs/FC서울/reclogo.png"></a>&nbsp;
        <a href="https://www.steelers.co.kr/"><img src="/static/imgs/포항 스틸러스/reclogo.png"></a>

    </div>

        <p class="str text-white-50 text-center">주소 : &nbsp; 서울특별시 구로구 디지털로 306, 203, 205, 212호 (구로동, 대륭포스트타워 2차)
        <br>사업자등록번호 :&nbsp; 672-85-01626&nbsp;&nbsp;|&nbsp;&nbsp;통신판매업신고번호 2018-서울구로-0336호&nbsp;&nbsp;|&nbsp;&nbsp;학원운영등록번호 : 제5145호</p>
        <p class="text-white bg-gradient p-2 text-center">Copyright 2022 © K LEAGUE. All right reserved.</p>
</footer>