<!-- 헤더 -->
<header class="black0">
    <div class="d-flex justify-content-between">
        <div class="mt-auto">
            <ul class="d-flex">
                <li class="nonlis"><a id="facebook" href="#"><i class="p-2 bi bi-facebook text-white fs-4"></i></a></li>
                <li class="nonlis"><a id="instagram" href="https://www.instagram.com/kleague/"><i class="p-2  bi-instagram text-white fs-4"></i></a></li>
                <li class="nonlis"><a id="youtube" href="https://www.youtube.com/user/withkleague"><i class="p-2 bi bi-youtube text-white fs-4"></i></a></li>
            </ul>
        </div>
        <div class="mt-auto">
            <ul class="logform d-flex">
                {% if not request.session.myteam %}
                    <li class="nonlis"><a href="modal.html" data-bs-toggle="modal" data-bs-target="#loginmodal"><i class="bi bi-person-check-fill"></i>로그인</a></li>
                    <li class="nonlis"><a href="{% url 'agree' %}"><i class="bi bi-clipboard2-check-fill"></i>회원가입</a></li>
                {% endif %}

                {% if request.session.myteam %}
                    <li class="nonlis"><a href="{% url 'logout' %}"><i class="bi bi-x-square-fill"></i>로그아웃</a></li>
                    <li class="nonlis"><a href="{% url 'mypage' %}"><i class="bi bi-file-person-fill"></i>마이페이지</a></li>
                {% endif %}

                <li class="nonlis"><a href="{% url 'sitemap' %}"><i class="bi bi-chevron-double-down"></i>사이트맵</a></li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-center"><a href="{% url 'index' %}"><img src="/static/imgs/k-league logo_white.png" style="width: 150px;height: 50px; "></a></div>
    <div class="hidden_menu">
        <div></div>
    </div>
</header>

<!-- 구분선인데 왜 흰색 공백이 밑에 생기는 걸까요... -->
<hr class="mt-auto mb-0" style="border:5px solid #545454;">

<!-- 네비바 -->
<nav class="mb-auto nav navbar-expand mt-3 navbar-dark bg-dark fw-bold">
    <ul class="dropdown navbar-nav nav-fill w-100">
        <li class="nav-item nonlis">
            <a class="nav-link" href="{% url 'news' %}">Media</a>
            <div class="dropdown_menu1">
                <ul class="d-flex">
                    <li class="nonlis"><div class="container">
                        <div class="sub_menu">
                            <h3>Media</h3>
                            <hr class="line1">
                            <ul>
                                <li><a href="{% url 'news' %}">News<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                                <li><a href="{% url 'announce' %}">공지사항<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                                <li><a href="{% url 'teamplayer' %}">구단<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                            </ul>
                        </div>
                    </div></li>      <!-- 드롭다운 서브메뉴-->
                    <li class="nonlis"><div class="container"></div></li>
                </ul>
            </div>
        </li>
        <li class="nav-item nonlis">
            <a class="nav-link" href="{% url 'KL1' %}">K리그 일정</a>
            <div class="dropdown_menu1">
                <ul class="d-flex">
                    <li class="nonlis"><div class="container">
                        <div class="sub_menu">
                            <h3>K리그 일정</h3>
                            <hr class="line1">
                            <ul>
                                <li><a href="{% url 'KL1' %}">K리그 1<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                                <li><a href="{% url 'KL2' %}">K리그 2(준비 중)<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                            </ul>
                        </div>
                    </div></li>      <!-- 드롭다운 서브메뉴-->
                    <li class="nonlis"><div class="container"></div></li>
                </ul>
            </div>
        </li>
        <li class="nav-item nonlis">
            <a class="nav-link" href="{% url 'coach' %}">Player</a>
            <div class="dropdown_menu1">
                <ul class="d-flex">
                    <li class="nonlis"><div class="container">
                        <div class="sub_menu">
                            <h3>Player</h3>
                            <hr class="line1">
                            <ul>
                                <li><a href="{% url 'coach' %}">선수1 감독<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                                <li><a href="{% url 'record' %}">기록 / 순위<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                            </ul>
                        </div>
                    </div></li>      <!-- 드롭다운 서브메뉴-->
                    <li class="nonlis"><div class="container"></div></li>
                </ul>
            </div>
        </li>
        <li class="nav-item nonlis">
            <a class="nav-link" href="{% url 'organization' %}">About K league</a>
            <div class="dropdown_menu1">
                <ul class="d-flex">
                    <li class="nonlis"><div class="container">
                        <div class="sub_menu">
                            <h3>About K league</h3>
                            <hr class="line1">
                            <ul>
                                <li><a href="{% url 'organization' %}">조직도<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                                <li><a href="{% url 'stadium' %}">구단 홈 구장(오시는 길)<i class="bi bi-chevron-compact-right"></i></a></li>
                                <hr class="line2">
                            </ul>
                        </div>
                    </div></li>      <!-- 드롭다운 서브메뉴-->
                    <li class="nonlis"><div class="container"></div></li>
                </ul>
            </div>
        </li>
        <li class="nav-item nonlis">
            <a class="nav-link" href="{% url 'shop' %}">SHOP</a>
            <div class="dropdown">
            </div>
        </li>
    </ul>
</nav>