<!-- 로그인 모달 -->
<div id="loginmodal" class="fade modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title fw-bold text-white">로그인</h4>
                <button type="button" class="btn btn-light"  data-bs-dismiss="modal">닫기</button>
            </div>
            <div class="modal-body">
                <form id="loginfrm" name="loginfrm" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="muserid" class="col-form-label col-3 text-end text-warning">아이디</label>
                        <div class="col-8">
                            <input type="text" name="muserid" id="muserid" class="form-control bg-dark border-white text-white">
                        </div> <!-- // userid -->
                    </div>
                    <div class="row mb-3">
                        <label for="mpasswd" class="col-form-label col-3 text-end text-warning">비밀번호</label>
                        <div class="col-8">
                            <input type="password" name="mpasswd" id="mpasswd" class="form-control bg-dark border-white text-white">
                        </div> <!-- // password -->
                    </div>
                    <div class="row">
                        <label class="col-3"></label>
                        <div class="col-8">
                            <input type="checkbox" name="autolgn"
                                   class="form-check-input">
                            <label class="form-check-label text-warning">로그인 상태 유지</label>
                            <p>{{ error }}</p>
                        </div>
                    </div> <!-- // Login State -->
                </form>

            </div>
            <div class="modal-footer justify-content-center" >
                <button type="button" class="btn btn-danger" id="loginbtn">로그인</button>
                <button type="button" class="btn btn-primary" data-bs-target="#searchid" data-bs-toggle="modal">아이디/비밀번호 찾기</button>
            </div>
        </div>
    </div>
</div> <!-- // Login Modal -->

<div id="searchid" class="fade modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title fw-bold text-white">아이디 찾기</h4>
                <button type="button" class="btn btn-light"  data-bs-dismiss="modal" id="cmdlbtn">닫기</button>
            </div>
            <div class="modal-body">
                <form id="searchfrm" name="searchfrm" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="semail" class="col-form-label col-3 text-end text-warning">이메일</label>
                        <div class="col-8">
                            <input type="text" name="semail" id="semail" class="form-control bg-dark border-white text-white">
                        </div> <!-- // userid -->
                    </div>
                    <div class="row mb-3">
                        <label for="suserid" class="col-form-label col-3 text-end text-warning">아이디</label>
                        <div class="col-8">
                            <input type="text" name="suserid" id="suserid" value="" readonly class="form-control bg-dark border-white text-white">
                        </div> <!-- // password -->
                        <label for="wmsg" class="col-form-label col-3 text-end text-warning"></label>
                        <div class="col-8 mt-3" id="wmsg" style="color:#ff6c6c;"></div>
                    </div>

                </form>

            </div>
            <div class="modal-footer justify-content-center" >
                <button type="button" class="btn btn-danger" id="searchbtn">아이디찾기</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" href="#loginmodal" role="button" id="backbtn">이전페이지</button>
            </div>
        </div>
    </div>
</div> <!-- // Login Modal -->
