{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block style %}
    <style>
        #wrap {display: flex}
        #nav { width: 250px;}

        #mtable th { text-align: end; width: 100px; border: 1px solid white; font-size: 15px;}
        #mtable td { text-align: center; width: 200px;border: 1px solid white}


    </style>
{% endblock %}

{% block contents %}
{#<div id="main">#}
    <div id="wrap">
        <div id="nav" class="bg-dark">
            <nav class="navbar-dark bg-dark py-2 fs-5 fw-bold" style="position: fixed">
                <ul class="navbar-nav nav-fill" style="width: 250px;">
                    {% for t in tbs %}
                    <li class="nav-item mb-3"><a class="nav-link" href="/players/coach/?team={{ t.hteam }}">{{ t.hteam }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="container" style="width: 1300px" >
            <div class="row">
                <h3 class="text-center fw-bold my-5">골키퍼(Goal Keeper)</h3>
                <hr style="border:2px solid gray">
                <ul class="player_box row row-cols-2 row-cols-md-5 g-3 justify-content-center text-center">
                    {% for p in pinfo %}
                        {% if p.position == 'GK' %}
                            <a href="javascript:showplayer({{ p.id }})" class="card text-center mx-2 p-0" style="width: 15rem; height: 25rem; text-decoration: none; color: black">
                                <div>
                                    <img src="/static/imgs/{{ p.team }}/{{ p.name }}.png" class="card-img-top">
                                    <div class="card-body text-center fw-bold fs-3">{{ p.name }}</div>
                                    <div id="team{{ p.id }}" hidden>{{ p.team }}</div>
                                    <div id="number{{ p.id }}" hidden>{{ p.number }}</div>
                                    <div id="name{{ p.id }}" hidden>{{ p.name }}</div>
                                    <div id="height{{ p.id }}" hidden>{{ p.height }}</div>
                                    <div id="kg{{ p.id }}" hidden>{{ p.kg }}</div>
                                    <div id="birth{{ p.id }}" hidden>{{ p.birth }}</div>
                                    <div id="position{{ p.id }}" hidden>{{ p.position }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h3 class="text-center fw-bold my-5">수비수(Defender)</h3>
                <hr style="border:2px solid gray">
                <ul class="player_box row row-cols-2 row-cols-md-5 g-3 justify-content-center text-center">
                    {% for p in pinfo %}
                        {% if p.position == 'DF' %}
                            <a href="javascript:showplayer({{ p.id }})" class="card text-center mx-2 p-0" style="width: 15rem; height: 25rem; text-decoration: none; color: black">
                                <div>
                                    <img src="/static/imgs/{{ p.team }}/{{ p.name }}.png" class="card-img-top">
                                    <div class="card-body text-center fw-bold fs-3">{{ p.name }}</div>
                                    <div id="team{{ p.id }}" hidden>{{ p.team }}</div>
                                    <div id="number{{ p.id }}" hidden>{{ p.number }}</div>
                                    <div id="name{{ p.id }}" hidden>{{ p.name }}</div>
                                    <div id="height{{ p.id }}" hidden>{{ p.height }}</div>
                                    <div id="kg{{ p.id }}" hidden>{{ p.kg }}</div>
                                    <div id="birth{{ p.id }}" hidden>{{ p.birth }}</div>
                                    <div id="position{{ p.id }}" hidden>{{ p.position }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h3 class="text-center fw-bold my-5">미드필더(Mid Fielder)</h3>
                <hr style="border:2px solid gray">
                <ul class="player_box row row-cols-2 row-cols-md-5 g-3 justify-content-center text-center">
                    {% for p in pinfo %}
                        {% if p.position == 'MF' %}
                            <a href="javascript:showplayer({{ p.id }})" class="card text-center mx-2 p-0" style="width: 15rem; height: 25rem; text-decoration: none; color: black">
                                <div>
                                    <img src="/static/imgs/{{ p.team }}/{{ p.name }}.png" class="card-img-top">
                                    <div class="card-body text-center fw-bold fs-3">{{ p.name }}</div>
                                    <div id="team{{ p.id }}" hidden>{{ p.team }}</div>
                                    <div id="number{{ p.id }}" hidden>{{ p.number }}</div>
                                    <div id="name{{ p.id }}" hidden>{{ p.name }}</div>
                                    <div id="height{{ p.id }}" hidden>{{ p.height }}</div>
                                    <div id="kg{{ p.id }}" hidden>{{ p.kg }}</div>
                                    <div id="birth{{ p.id }}" hidden>{{ p.birth }}</div>
                                    <div id="position{{ p.id }}" hidden>{{ p.position }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h3 class="text-center fw-bold my-5">공격수(Forward)</h3>
                <hr style="border:2px solid gray">
                <ul class="player_box row row-cols-2 row-cols-md-5 g-3 justify-content-center text-center">
                    {% for p in pinfo %}
                        {% if p.position == 'FW' %}
                            <a href="javascript:showplayer({{ p.id }})" class="card text-center mx-2 p-0" style="width: 15rem; height: 25rem; text-decoration: none; color: black">
                                <div>
                                    <img src="/static/imgs/{{ p.team }}/{{ p.name }}.png" class="card-img-top">
                                    <div class="card-body text-center fw-bold fs-3">{{ p.name }}</div>
                                    <div id="team{{ p.id }}" hidden>{{ p.team }}</div>
                                    <div id="number{{ p.id }}" hidden>{{ p.number }}</div>
                                    <div id="name{{ p.id }}" hidden>{{ p.name }}</div>
                                    <div id="height{{ p.id }}" hidden>{{ p.height }}</div>
                                    <div id="kg{{ p.id }}" hidden>{{ p.kg }}</div>
                                    <div id="birth{{ p.id }}" hidden>{{ p.birth }}</div>
                                    <div id="position{{ p.id }}" hidden>{{ p.position }}</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{#</div>#}

<div id="playermodal" class="fade modal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
            <h5 class="modal-title">플레이어 정보</h5>
            <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close">닫기</button>
            </div>
            <div class="modal-body">
                <div id="image" style="text-align: center; margin-bottom: 10px;"></div>
                <table id="mtable" style="margin: 0 auto">
                    <tr>
                        <th>소속구단</th>
                        <td id="team"></td>
                    </tr>
                    <tr>
                        <th>포지션</th>
                        <td id="position"></td>
                    </tr>
                    <tr>
                        <th>등번호</th>
                        <td id="number"></td>
                    </tr>
                    <tr>
                        <th>선수명</th>
                        <td id="name"></td>
                    </tr>
                    <tr>
                        <th>신장</th>
                        <td id="height"></td>
                    </tr>
                    <tr>
                        <th>몸무게</th>
                        <td id="kg"></td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td id="birth"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <script>
        function showplayer(id){
            tname = document.getElementById(`team${id}`).textContent
            pname = document.getElementById(`name${id}`).textContent
            logo = '<img src="/static/imgs/'+tname+'/reclogo.png">'+tname
            pimg = '<img src="/static/imgs/'+tname+'/'+pname+'.png" style="width: 200; height: 300px;">'
            document.getElementById('image').innerHTML = pimg
            document.getElementById('team').innerHTML = logo
            byear = document.getElementById(`birth${id}`).textContent
            age = (2022 - parseInt(byear.split('-')[0]))+1
            nameage = pname+'('+age+'세)'

            document.getElementById('position').textContent = document.getElementById(`position${id}`).textContent
            document.getElementById('number').textContent = document.getElementById(`number${id}`).textContent
            document.getElementById('name').textContent = nameage
            document.getElementById('height').textContent = document.getElementById(`height${id}`).textContent
            document.getElementById('kg').textContent = document.getElementById(`kg${id}`).textContent
            document.getElementById('birth').textContent = document.getElementById(`birth${id}`).textContent

            const myModal = new bootstrap.Modal(document.getElementById('playermodal'))
            myModal.show();


        }

    </script>

{% endblock %}