{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block style %}
    <style>
        #mtable th { text-align: end; width: 100px; border: 1px solid white; font-size: 15px;}
        #mtable td { text-align: center; width: 200px;border: 1px solid white; text-decoration: none;}
        #records{margin: 0 auto; width : 100%; margin-top: 30px}
        #records th {border-bottom:3px solid gray; text-align: center; padding: 5px; font-size: 20px}
        #records td { font-size: 20px; text-align: center;}
    </style>

{% endblock %}

{% block contents %}
<div class="bg-dark" id="main">
    <h1 class="pt-3 text-center text-white fw-bold">선수 기록/순위</h1>
    <div class="row mt-n2 ">
            <div class="col-12">
                <hr style="border:2px solid black">
                <table id="records" class="table table-dark table-striped table-hover fw-bold text-center">
                    <thead class="thead">
                        <tr style="height: 60px; vertical-align: middle">
                            <th style="width: 4%">순위</th>
                            <th style="width: 6%">선수명</th>
                            <th style="width: 15%">팀</th>
                            <th style="width: 3%">득점</th>
                            <th style="width: 3%">도움</th>
                            <th style="width: 6%">공격포인트</th>
                            <th style="width: 3%" hidden>실점</th>
                            <th style="width: 4%" hidden>코너킥</th>
                            <th style="width: 3%" hidden>파울</th>
                            <th style="width: 3%" hidden>슈팅</th>
                            <th style="width: 6%" hidden>오프사이드</th>
                            <th style="width: 3%">경고</th>
                            <th style="width: 3%">퇴장</th>
                            <th style="width: 6%" hidden>무실점경기</th>
                            <th style="width: 3%" hidden>출장</th>
                            <th style="width: 3%" hidden>교체</th>
                            <th style="width: 7%" hidden>경기당 기록</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for p in pbs %}
                    <tr class="text-warning" href="/players/record/?name={{ p.name }}">
                        <td id="rank{{ p.rank }}">{{ p.rank }}</td>
                        <td id="name{{ p.rank }}"><a href="javascript:showrecord({{ p.rank }})" style="text-decoration: none; color: currentColor"  >{{ p.name }}</a></td>
                        <td id="team{{ p.rank }}"><img src="/static/imgs/{{ p.team }}/reclogo.png">{{ p.team }}</td>
                        <td id="goal{{ p.rank }}">{{ p.goal }}</td>
                        <td id="assist{{ p.rank }}">{{ p.assist }}</td>
                        <td id="attackpoint{{ p.rank }}">{{ p.attackpoint }}</td>
                        <td hidden id="losspoint{{ p.rank }}">{{ p.losspoint }}</td>
                        <td hidden id="cornerkick{{ p.rank }}">{{ p.cornerkick }}</td>
                        <td hidden id="foul{{ p.rank }}">{{ p.foul }}</td>
                        <td hidden id="shoot{{ p.rank }}">{{ p.shoot }}</td>
                        <td hidden id="offside{{ p.rank }}">{{ p.offside }}</td>
                        <td id="warning{{ p.rank }}">{{ p.warning }}</td>
                        <td id="exit{{ p.rank }}">{{ p.exit }}</td>
                        <td hidden id="norun{{ p.rank }}">{{ p.norun }}</td>
                        <td hidden id="trip{{ p.rank }}">{{ p.trip }}</td>
                        <td hidden id="replace{{ p.rank }}">{{ p.replace }}</td>
                        <td hidden id="matchpoint{{ p.rank }}">{{ p.matchpoint }}</td>
                    </tr> <!-- 1위 -->
                    {% endfor %}
                    </tbody> <!-- 선수기록표 -->


                    <tfoot class="tfoot">
                        <tr><td colspan="6" class="d-none"></td></tr>
                    </tfoot>
                </table>
                <div style="float:right; color:grey; padding: 10px">(2022.07.07 기준)</div>
            </div>
            <div class="col"></div>
        </div><!-- 게시판 -->
</div> <!-- main -->

<div id="playermodal" class="fade modal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
            <h5 class="modal-title">플레이어 정보</h5>
            <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close">닫기</button>
            </div>
            <div class="modal-body">
                <div id="image" style="text-align: center; margin-bottom: 10px;"></div>
                <table id="mtable" style="margin: 0 auto">

                    <tr>
                        <th>순위</th>
                        <td id="rank"></td>
                    </tr>
                    <tr>
                        <th>선수명</th>
                        <td id="name"></td>
                    </tr>
                    <tr>
                        <th>팀</th>
                        <td id="team"></td>
                    </tr>
                    <tr>
                        <th>득점</th>
                        <td id="goal"></td>
                    </tr>
                    <tr>
                        <th>도움</th>
                        <td id="assist"></td>
                    </tr>
                    <tr>
                        <th>공격포인트</th>
                        <td id="attackpoint"></td>
                    </tr>
                    <tr>
                        <th>실점</th>
                        <td id="losspoint">{{ losspoint }}</td>
                    </tr>
                    <tr>
                        <th>코너킥</th>
                        <td id="cornerkick">{{ cornerkick }}</td>
                    </tr>
                    <tr>
                        <th>파울</th>
                        <td id="foul">{{ foul }}</td>
                    </tr>
                    <tr>
                        <th>슈팅</th>
                        <td id="shoot">{{ shoot }}</td>
                    </tr>
                    <tr>
                        <th>오프사이드</th>
                        <td id="offside">{{ offside }}</td>
                    </tr>
                    <tr>
                        <th>경고</th>
                        <td id="warning">{{ warning }}</td>
                    </tr>
                    <tr>
                        <th>퇴장</th>
                        <td id="exit">{{ exit }}</td>
                    </tr>
                    <tr>
                        <th>무실점경기</th>
                        <td id="norun">{{ norun }}</td>
                    </tr>
                    <tr>
                        <th>출장</th>
                        <td id="trip">{{ trip }}</td>
                    </tr>
                    <tr>
                        <th>교체</th>
                        <td id="replace">{{ replace }}</td>
                    </tr>
                    <tr>
                        <th>경기당 기록</th>
                        <td id="matchpoint">{{ matchpoint }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    <script>
        function showrecord(rank){
            tname = document.getElementById(`team${rank}`).textContent
            pname = document.getElementById(`name${rank}`).textContent
            logo = '<img src="/static/imgs/'+tname+'/reclogo.png">'+tname
            pimg = '<img src="/static/imgs/'+tname+'/'+pname+'.png" style="width: 200; height: 300px;">'
            document.getElementById('image').innerHTML = pimg
            document.getElementById('team').innerHTML = logo

            document.getElementById('rank').textContent = document.getElementById(`rank${rank}`).textContent
            document.getElementById('name').textContent = document.getElementById(`name${rank}`).textContent
            document.getElementById('goal').textContent = document.getElementById(`goal${rank}`).textContent
            document.getElementById('assist').textContent = document.getElementById(`assist${rank}`).textContent
            document.getElementById('attackpoint').textContent = document.getElementById(`attackpoint${rank}`).textContent
            document.getElementById('losspoint').textContent = document.getElementById(`losspoint${rank}`).textContent
            document.getElementById('cornerkick').textContent = document.getElementById(`cornerkick${rank}`).textContent
            document.getElementById('foul').textContent = document.getElementById(`foul${rank}`).textContent
            document.getElementById('shoot').textContent = document.getElementById(`shoot${rank}`).textContent
            document.getElementById('offside').textContent = document.getElementById(`offside${rank}`).textContent
            document.getElementById('warning').textContent = document.getElementById(`warning${rank}`).textContent
            document.getElementById('exit').textContent = document.getElementById(`exit${rank}`).textContent
            document.getElementById('norun').textContent = document.getElementById(`norun${rank}`).textContent
            document.getElementById('trip').textContent = document.getElementById(`trip${rank}`).textContent
            document.getElementById('replace').textContent = document.getElementById(`replace${rank}`).textContent
            document.getElementById('matchpoint').textContent = document.getElementById(`matchpoint${rank}`).textContent

            const myModal = new bootstrap.Modal(document.getElementById('playermodal'))
            myModal.show();
        }

    </script>
{% endblock %}