{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}상품페이지{% endblock %}
{% block style %}
    <style>
        #nav { width: 250px;}
        #wrap {display: flex;}
    </style>
{% endblock %}


{% block contents %}
<div id="wrap">
    <div id="nav" class="bg-dark">
        <nav class="navbar-dark bg-dark py-2 fs-5 fw-bold" style="position: fixed">
            <ul class="navbar-nav nav-fill" style="width: 250px;">
                {% for t in tbs %}
                <li class="nav-item mb-3"><a class="nav-link" href="/shopping/shop/?based={{ t.based }}">{{ t.hteam }}</a></li>
                {% endfor shop %}
            </ul>
        </nav>
    </div>
    {% if based == '인천' or based == '울산' %}
        <div class="bg-dark">
            <img src="https://swai.smu.ac.kr/images/sub/bg_ready.jpg" style="width: 1650px; height: 1200px;">
        </div>
    {% else %}
        <iframe width="1650" height="1200" src="{{ url }}" name="test" id="test"></iframe>
    {% endif %}

</div>





{% endblock %}


{% block script %}{% endblock %}