{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}가입완료{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/vendor/join.css' %}">
{% endblock %}
{% block contents %}
    <div id="main1">
        <div class="mb-4" id="seq">
            <div id="step1"><span>Step.1 약관동의</span><span><i class="bi bi-list-check text-center"></i></span></div>
            <div id="step2"><span>Step.2 본인인증</span><span><i class="bi bi-shield-lock text-center"></i></span></div>
            <div id="step3"><span>Step.3 기본정보입력</span><span><i class="bi bi-pencil-square text-center"></i></span></div>
            <div id="step4on"><span>Step.4 가입완료</span><span><i class="bi bi-person-check text-center"></i></span></div>
        </div><!-- // 절차칸 -->
        <div class="mt-2 mx-5" id="agree">
            <h1>4. 가입완료</h1>
            <small class="fw-bold" style="color:#626262">입력하신 정보는 회원님의 동의없이 공개되지 않으며, 개인정보보호정책에 의해 보호를 받습니다.</small>
        </div><!-- // 4.기본정보입력-->
        <hr>
        <div style="text-align: center;">
            <div><i class="bi bi-check-circle-fill" style="font-size:150px;"></i></div>
            <h2 style="margin-bottom: 50px;">회원가입이 <b>완료</b> 되었습니다.</h2>
            <h5><b>{{ member.name }}</b>님의 회원가입을 축하합니다.</h5>
            <h5 style="margin-bottom: 50px;">알차고 실속있는 서비스로 찾아뵙겠습니다.</h5>
            <hr>
            <button type="button" class="btn btn-dark mb-5" name="homebtn" id="homebtn"><i class="bi bi-house-fill"></i>홈으로</button>
        </div>
    </div><!-- // main -->
{% endblock %}
{% block script %}
<script>
    let homebtn = document.querySelector('#homebtn');
    homebtn.addEventListener('click',()=>{
        location.href='/';
    });
</script>
{% endblock %}