{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static '/css/vendor/board_style.css' %}">
{#    <link rel="stylesheet" href="{% static '/css/vendor/board.css' %}">#}

{% endblock %}

{% block contents %}

<div class="sub-top">
	<h2 class="campton">뉴스</h2>
	<p>K리그1・2의 최신 소식을 모두 확인 할 수 있는 공간입니다.</p>
</div>      <!-- 뉴스 -->

<div class="sub-contents-wrap">     <!-- 본문 -->

    <div class="contents">  <!-- 본문 -->

{#    <input type="hidden" name="search" value="">#}
{#    <input type="hidden" name="category" value="notice">#}
{#    <input type="hidden" name="orderBy" value="seq">#}
{#    <input type="hidden" name="viewOption" value="list">#}

        <h3 class="board-tit f-wrap">
            <span class="left str">{{ nt.title }}</span>
        </h3>   <!-- 제목 -->

        <div class="board-box">

            <div class="board-top f-wrap">  <!-- notice, 날짜, 조회수 -->
                <span class="txt-secondary">{{ nt.category }}</span>
                <span class="views roboto">{{ nt.regdate }} &nbsp; I &nbsp; 조회수 {{ nt.view }}</span>
            </div>  <!-- notice, 날짜, 조회수 -->

            <div class="board-con">
                <p style="font-size: 12pt;">{{ nt.content }}</p>     <!-- 공간 & 본문 -->
            </div>      <!-- 본문 -->

            <div class="board-bottom">  <!-- 이전글, 목록, 다음글 -->

                {% if prevno %}
                <a href="?no={{ prevno }}">
                    <button class="btn btn-sm btn-prev btn-primary" id="prevbtn">＞</button>
                </a>
                {% endif %}
                <button class="btn btn-sm btn-primary" id="listbtn">목록</button>

                {% if nextno %}
                <a href="?no={{ nextno }}">
                    <button class="btn btn-sm btn-next btn-primary" id="nextbtn">＞</button>
                </a>    <!-- 다음 -->
                {% endif %}
            </div>  <!-- 이전글, 목록, 다음글 -->

        </div>

    </div>  <!-- 본문 -->

</div>  <!-- 본문 -->

{% endblock %}

{% block script %}
<script>
    const listbtn = document.querySelector('#listbtn');
    const nextbtn = document.querySelector('#nextbtn');
    const prevbtn = document.querySelector('#prevbtn');

    listbtn.addEventListener('click', () => {
        location.href = '{% url 'news' %}'
    });

    {#nextbtn.addEventListener('click', () => {#}
    {#    num = parseInt( {{ nt.id }} + 1 )#}
    {#    location.href = '{% url 'news_detail' %}?no=' + num#}
    {#});#}
    {##}
    {#prevbtn.addEventListener('click', () => {#}
    {#    num = parseInt( {{ nt.id }} - 1 )#}
    {#    location.href = '{% url 'news_detail' %}?no=' + num#}
    {#});#}
</script>
{% endblock %}